
HumanResources/.vs/HumanResources/v15/.suo
HumanResources/.vs/HumanResources/v15/.suo
HumanResources/HumanResources/obj/Debug/HumanResources.csprojResolveAssemblyReference.cache
HumanResources/HumanResources/obj/Debug/HumanResources.csprojResolveAssemblyReference.cache
HumanResources/.vs/HumanResources/v15/.suo
